[2013-02-28 08:23] kartikmohta opened #1 "Baud rate on UART port 3"
I checked with an oscilloscope and it seems that the baud rate on the UART port 3 is around 120k which is not close to the desired value of 115.2k. This is causing some issues when trying to read the data from the sensor via the UART port.

[2013-04-11 16:57] xiscobonnin opened #2 "PX4flow power options"
I've been playing with a PX4flow camera using the USB connection and everithing seems to work perfect.

Now I'd like to remove the USB cable and use the USART2 to get the output data. My question is, how can I power the device? Are the schematics publicly available somewhere?

Thank you in advance!

[2013-04-12 07:43] #2 closed, assigned to nobody

[2013-06-13 20:57] #1 closed, assigned to nobody

[2013-11-12 16:07] NeuroCopter opened #7 "wrong implementation of mavlink parameter protocol"
For once the mavlink ["documentation"](https://pixhawk.ethz.ch/mavlink/#PARAM_REQUEST_READ) clearly states how the message has to be interpreted:

The [current implementation (line 139)](https://github.com/PX4/Flow/blob/master/src/communication.c) uses the param ID field iff it isn't empty and thus violates the protocol.

[2014-01-06 12:20] AndKe opened #8 "feature suggestion:"
Could it be used to home in on a flashing light/diode ?
Think about the great landing precision we could achieve - once at home/landing location, home in on a flashing LED on the ground, for very precise landing.

[2014-02-14 09:39] #7 closed, assigned to nobody

[2014-02-14 09:39] #8 closed, assigned to nobody

[2014-02-15 22:56] LorenzMeier opened #10 "Single pixel offset in visualization"
@dominiho @tpetri As you found out, moving this statement up resolves the issue.
https://github.com/mavlink/qgroundcontrol/blob/master/src/uas/UAS.cc#L1283

I inspected the flow sources and I'm not sure yet the problem is in QGroundControl. I also want to be sure the artifacts we see in the image are not transmission induced (by desynchronized image buffer copy operations).

[2014-02-21 09:14] #10 closed, assigned to nobody

[2014-07-09 13:44] LorenzMeier opened #14 "Implement reboot command"
Unfortunately developers are too hasty to read the docs - because the reboot command is not implemented, the auto-firmware upgrade "doesn't work" (unless you follow the instructions and plug the board AFTER having hit the scan button).

We should fix this, and its super-trivial. On this line:
https://github.com/PX4/Flow/blob/08c205bde6994c3b1424ca04c5cc0996d82fca72/src/communication.c#L314

Implem

[2014-07-14 09:05] #14 closed, assigned to dominiho

[2014-07-24 11:37] LorenzMeier opened #17 "Flow quality calculation needs update"
@dominiho @mhkabir The flow quality calculation had the number of locations hardcoded and is therefore now wrong.

@dominiho Could you please push a fix?
https://github.com/PX4/Flow/blob/d967cf2da575a25b101a71ed040321b96589835f/src/flow.c#L744

[2014-07-24 12:01] #17 closed, assigned to dominiho

[2014-07-27 13:03] MAVProxyUser opened #18 "Please make MAVLink Optional..."
Please make MAVLink a NON requirement... not everyone wants to use libraries that are tied to 3drobotics / diydrones code.

Please add Mavlink as an _option_ rather than a requirement.
https://github.com/MAVProxyUser/PX4FlowNOMavLink

[2014-07-27 15:31] #18 closed, assigned to nobody

[2014-08-11 16:32] andre-nguyen opened #19 "Parameter saving functionality"
If I recall correctly,
there isn't a driver written yet to use the on board eeprom (microchip 24FC128??) to be able to save parameters. I would be interested to try my hand at writing it now that I'm back from competition.

Any tips would be appreciated.

[2014-08-12 07:57] LorenzMeier opened #20 "Expose gyro data via all interfaces and validate"
We should expose all gyro data and cross-check that rates and readout speed make sense. We should also include a flag to indicate wether the gyro data is available (in case we want to remove the sensor later if we conclude its not useful).

[2014-08-12 08:02] LorenzMeier opened #21 "I2C pull interface and proper averages"
We should be resetting the integrated flow to zero on I2C reads so the reader does not loose samples, independent of his readout speed.

[2014-09-15 13:16] apfohl opened #22 "Adding new mavlink message"
I'm trying to add a new mavlink message for research purposes. Where have you generated the mavlink includes from?

It's rather hard to include the new message type into the generated mavlink files.

[2014-11-03 06:26] #21 closed, assigned to dominiho

[2014-11-08 23:05] priseborough opened #23 "Bug in X axis flow output - affects latest master and stable release"
I ran a test today using the latest firmware from master, where the quad-copter was supported about 20cm above a table and the lens was focused onto a textured  towel placed underneath the camera that could be slid in both the X and Y directions. The towel was slid a sequence of doublets (trying to keep a constant speed) in one direction at a time. The idea was to approximate a square wave input.

[2014-11-10 02:00] scott-eddy opened #24 "nan x,y velocities"
Hello all,
Recently I flashed by Flow with the latest stable release of the firmware through QGroundControl.  This has enabled us to view the camera image from the ros node that is being developed here: http://wiki.ros.org/px4flow_node.

However, after the firmware flash the flow_comp_m_x and flow_comp_m_y values often return a value of nan.  Looking through the firmware here I think the only way

[2014-11-14 08:58] #24 closed, assigned to nobody

[2014-11-15 17:02] mhkabir opened #25 "Getting velocities from message"
I'm trying to get the angular velocities and translational velocities from the mavlink OPTICAL_FLOW_RAD message.

I'm computing :

[code]

Does this seem right? Is this the correct approach?

The problem now is that if no flow data is available, integration_time_us becomes zero and I get nan on the velocities. How should I handle this?
Also, I would like the gyro rate data even when flow is unavai

[2014-11-17 19:47] #20 closed, assigned to nobody

[2014-12-05 18:33] zoohair opened #26 "potential bug in usb/usart3 forwarding to usart2."
In communication.c
[code]

`usart2_tx_ringbuffer_push` takes a length, unclear why it's being called `len` times with the same argument...

[2014-12-06 16:59] #25 closed, assigned to nobody

[2014-12-06 17:01] #22 closed, assigned to nobody

[2014-12-08 17:04] #23 closed, assigned to nobody

[2014-12-28 23:53] jgoppert opened #30 "sonar max range returns zero"
I'm coding a flow only position estimator here: https://github.com/jgoppert/Firmware/tree/flow_est_update
I'm using the sonar on the flow for altitude and flow camera for position estimation.

https://github.com/jgoppert/Firmware/blob/flow_est_update/src/examples/flow_position_estimator/FlowPositionEstimator.cpp

I just tested this estimator and the position estimation looks decent, but when I go

[2015-01-20 08:34] jgoppert opened #32 "Sonar Performance Degradation"
Master 91e6
![master-91e6](https://cloud.githubusercontent.com/assets/473772/5813922/c91b9ea8-a052-11e4-95b0-d60bcf34e7ed.png)

Ae201 (before mode filter etc.)
![revert-ae201](https://cloud.githubusercontent.com/assets/473772/5813924/ca81c7ea-a052-11e4-90ae-03e5400f1b0d.png)

I believe that the complexities introduced by the on-board filtering are unwarranted for the performance gain. It also is c

[2015-01-20 08:37] #30 closed

[2015-01-21 06:17] LorenzMeier commented on #26
@dominiho Could you have a look? It looks indeed suspicious.

[2015-01-21 06:19] LorenzMeier commented on #32
The suggestion makes sense.

[2015-01-21 11:54] #26 closed

[2015-01-21 21:26] LorenzMeier commented on #19
@jgoppert In case you're tired resetting parameters all the time - could be actually quite quick.

[2015-01-22 22:33] jgoppert opened #37 "usart forwarding fix breaks param loading"
5e0e29afb25ff7786e09cb7346eae1b04cccaf6c breaks param loading in qgroundcontrol

[2015-01-22 22:38] jgoppert commented on #37
@dominiho , do you see what happened here, I don't immediately see what to fix.

[2015-01-23 03:33] jgoppert commented on #37
I was being lazy, it was easy to find when I looked at it closely.

[2015-01-23 06:11] #37 closed

[2015-01-27 09:36] DrTon opened #41 "Garbage image in low...middle light conditions"
Image from PX4FLOW looks ok when I point it to outside from my window but completely garbarge when I point somewhere in room (not too dark). On attached image something in the middle: brightest part of image are ok, but the rest is garbage. Observation of flow_x/flow_y/quality shows that it's NOT transmission problem, but problem of reading from sensor.
Hardware: PX4FLOW v1.3
Firmware: latest mast

[2015-02-09 16:27] ecmnet opened #43 "I2C Integral Frame does not respond properly"
I am trying to read the second I2C frame (integral frame) each 50ms. So far I only managed to get the frame ONCE. After that, data is not updated any more. The first frame however works properly.

[2015-02-13 07:27] ecmnet commented on #43
Solved: I have to read 26 bytes instead of 25. Why I don't know.

[2015-02-13 07:27] #43 closed

[2015-02-16 11:36] xpetresx opened #44 "Error in camera sensor initialisation"
Hello,
I would like to report a minor error in MT9V034 camera sensor initialization for PX4Flow module which I have found.
The error is in the file mt9v034.c[0] where there is on line 183 (197 for Context B respectively)
[code]
where MTV_V2_CTRL_REG_A is 0x32 and total_shutter_width is defined as 0x1e0 (480 Dec).

I suppose that this is incorrect because according to the datasheet[1] V2_CTRL_REG_A

[2015-02-17 10:12] liubenyuan commented on #44
Great ! I am also working on a FPGA (Xilinx Zynq) based mt9v034 solution :)

[2015-04-02 02:41] molyswu opened #46 "px4flow board debug for "USB device not recognized" issues"
Hello ,LorenzMeier  !
 I used STLINK-V2(JTAG)  full chip erase px4flow board and build px4 Flow-master file (2015-01-24 Flow-master)
 , make all Flow(firmware) for px4flow_bl.elf and px4flow.bin , compiler code Successful and connect STLINK-V2 JTAG ,then STLINK-V2 program px4flow_bl.elf or px4flow.bin to px4flow board in Flow(c/px4/Flow/).restart the board show "USB device not recognized" . the px

[2015-04-02 06:58] molyswu commented on #46
Checking STM32F407VG  "clock_setup "  with GPIO 12PIN ,13PIN ，voltage only have 0.7V. Righten the tow PIN  voltage have 1.7V。

[2015-04-24 12:02] LorenzMeier commented on #32
Hi James, how is this PR looking? Any chance to take another stab getting this into master? The issue I'm having is that the flow driver will probably silently fail - we need to introduce a version tag and escalate the issue to the GCS. Or we need to map near and far to e.g. -1 and -2 and keep the frame format intact.

[2015-05-10 16:17] deb0ch opened #48 "OPTICAL_FLOW_RAD polluting i2c when used on PixHawk running ArduCopter"
Hi guys,

We've been trying to use the px4flow on our pixhawk running arducopter, but our major problem was that the i2c bus was so polluted that we suffered from lots of data losses and delays: sometimes the signal got blocked for seconds and even tens of seconds !

We found out that there was that OPTICAL_FLOW_RAD mavlink message, which seemed to us like a perfect clone of the OPTICAL_FLOW messa

[2015-05-28 07:29] LorenzMeier opened #49 "== comparisons using float numbers"
@dominiho Several lines, including this one do float comparisons:

[code]

You can fix this by using:

[code]

[2015-06-04 23:50] thedinuka opened #50 "angular velocity compensation using Z gyro"
According to the ICRA 2013 paper, angular compensation should also use the yaw rate to account for the flow induced due to yaw. But looking at flow.c, I see that z_rate (rate of z axis (or yaw) gyro) is not being used for gyro compensation. There is probably a good reason for doing so. Appreciate if someone can give me point me in the right direction to understand why it was done so.

[2015-07-12 12:01] icyore opened #51 "Why is the sonar_valid float? What's difference between the float and the bool?"
float sonar_valid = false;				/**< the mode of all sonar measurements */

[2015-07-15 14:59] JustinKoo opened #52 "how can i just buffer one frame image?"
this project buffers two images,which takes off more RAM.
Now i need more RAM to do other work ,so I want to just buffer one frame image.But  i am not familiar with the embedded-device programming,anyone could give me some advice?
thank you~

[2015-08-13 04:20] yl5006 opened #55 "px4Flow i2c frame to FMU confused me"
first :px4Flow calculates optical flow  at 400Hz ,but FMU px4Flow driver  default conversion at 10Hz,
      is it suit able for postion estimator ?so I tried average data ,and set FMU converdion quickly,but it works not well .or because optical flow datas are not accuracy.
    secend：px4Flow up accumulated_flow_x and  accumulated_flow_y to I2c frame ，It is accumulated rad/s,not angular speed .it i

[2015-08-14 12:10] LorenzMeier commented on #55
There are no mistakes, the documentation is accurate. Please use the mailing list to ask questions. https://groups.google.com/forum/#!forum/px4users

[2015-08-14 12:10] #55 closed

[2015-08-17 06:45] NewLeafG opened #58 "How to debug the firmware of px4flow in Windows 7 ?"
Hi there.
   Sorry to bother you. I am a newbie to px4flow and I have spent at least one week to find out the answer of how to debug the firmware of px4flow in Windows 7.
   I am using eclipse  and a stlink-v2 debugger, hope for a detailed guidebook to debug the px4flow.
   Thank you in advance.

[2015-08-17 09:30] NewLeafG commented on #58
ohyeah!  I made it out. Welcome to ask me if someone have the same question.

[2015-08-17 09:30] #58 closed

[2015-08-27 16:58] vasimv opened #60 "Extending I2C funcionality patch"
I've wrote patch to add following stuff to the I2C;

1. Reading integral frame by one byte at the time (to save memory on small atmega328 hosts) - send offset+32 then read one byte
2. Reading px4flow parameters settings  - send parameter number +128 then read 4 bytes (float)
3. Updating px4flow parameters settings - send parameter number +128 and 4 bytes (float)

[code]

[2015-09-04 19:57] jlian opened #62 "README.md outdated, upload-usb no long works"
To build,  `make archives` should be ran before `make`.

Also, `make upload-usb` results in `make: *** No rule to make target 'upload-usb'.  Stop.` Thus, I have not found a way to flash the unit using the command line. I have tried to run `make px4flow-v2_default upload` but that results in
[code]
Motivation: I am currently trying to flash the PX4Flow unit without the use of qGroundControl. In par

[2015-09-04 20:01] LorenzMeier commented on #62
It does support custom firmware.

[2015-09-04 20:08] jlian commented on #62
With qGroundControl 2.7.1 and PX4Flow? This is the output I get when I tried to flash the firmware with qGroundControl
[code]
I could not find a way to get it to not download and flash firmware from the internet. What am I missing?

Thanks.

[2015-09-04 20:15] jlian commented on #62
I hope I'm not missing something really obvious. Here is a quick video showing what it looks like on my system during the firmware flashing process with QGroundControl 2.7.1: https://youtu.be/NRMZcw-8fQk

[2015-09-04 20:30] LorenzMeier commented on #62
@davids5 Could you help to fix the boot loading in the repo? Please push straight to master as needed.

[2015-09-04 20:36] LorenzMeier commented on #62
You are right - we'll fix this and David will provide a fixed upload script.

[2015-09-04 23:05] davids5 commented on #62
@LorenzMeier, @jlian

PR  https://github.com/PX4/Flow/pull/56 is in - I do not have write access

[2015-09-05 12:05] davids5 commented on #62
@jlian Please give the latest master a go.

[2015-09-05 16:14] jlian commented on #62
Thanks David, looks like it works now!

[2015-09-05 16:24] jlian commented on #62
Actually, running `make px4flow-v2_default upload` still gives errors:
[code]
Am I doing something wrong still? And just to confirm, `make upload-usb` works now.

[2015-09-05 16:33] davids5 commented on #62
make  upload-usb  was the legacy way so I kept it.  I left the "make upload" as is (the help suggested it is not implemented on all platforms)

```make px4flow-v2_default upload-usb``` should work.

Do you have V2 HW? Please If not use only px4flow-v1_default.

[2015-09-05 16:40] jlian commented on #62
Yeah sorry about that, I edited my previous comment. Everything is good now, thanks guys!

[2015-09-09 06:50] ckatgit opened #63 "make px4flow-v1_default successed,but make px4flow-v2_default failed."
make  px4flow-v1_default   successed,but make  px4flow-v2_default  failed.

[2015-10-21 08:41] molyswu commented on #63
my project build for make px4flow-v2_default failed

[2015-10-21 08:42] LorenzMeier commented on #63
That hardware is not yet available anyway, so not an issue.

[2015-10-21 08:42] #63 closed

[2015-11-10 13:13] molyswu opened #64 "addition IIR filter to PX4/flow"
Hi, LorenzMeier!
The proposed addition of IIR filters to PX4/ flow. How do you feel?

Thank you for your help!

[2015-11-27 15:53] deadfishr opened #66 "px4 flow downloading problem"
Firmware file missing parameter_xml_size key
I meet such question when downloading the px4 flow firmware.Has there anyone else met such situation before?

[2015-12-10 09:54] #64 closed

[2015-12-10 09:54] LorenzMeier commented on #66
This is not a real error.

[2015-12-10 09:54] #66 closed

[2015-12-10 09:55] LorenzMeier commented on #60
Can you send a pull request instead?

[2015-12-10 09:55] #60 closed

[2015-12-10 09:55] #52 closed

[2015-12-10 09:56] LorenzMeier commented on #51
Its bool in the current codebase.

[2015-12-10 09:56] #51 closed

[2015-12-10 09:56] LorenzMeier commented on #50
We're doing this on the autopilot.

[2015-12-10 09:56] #50 closed

[2015-12-10 09:57] #19 closed

[2015-12-10 09:58] LorenzMeier commented on #41
See #44, closing.

[2015-12-10 09:58] #41 closed

[2015-12-10 10:02] LorenzMeier commented on #44
Fixed in 04b6932, thanks!

[2015-12-10 10:02] #44 closed

[2015-12-10 10:02] #46 closed

[2015-12-10 10:16] deadfishr commented on #66
how can I solve it?

[2015-12-10 11:22] LorenzMeier commented on #66
I told you its not a problem. So there is also no solution.

[2015-12-10 11:26] #62 closed

[2016-01-11 08:41] stu85010 opened #70 "master clock of camera, why not using TIM8?"
Hi, the page https://pixhawk.org/modules/px4flow
said that the camera is working at 400 Hz. But the fluorescent lamp and LED lamp in my country are flickering at 60 Hz. So, I'd like to fetch the image at 360 Hz or 420 Hz.
And the pin 65 that is connected to camera the MT9V034 is driven by channel 3 of TIM1, but it is named TIM8_CH3_MASTERCLOCK in schematic v1.3.

I thought it might be some reason

[2016-01-11 10:02] #70 closed

[2016-01-11 10:15] stu85010 commented on #70
After doing math, I thought there's no additional advantage for using TIM8 even the TIM8 could be setting in 168MHz.
The camera MT9V034 requiring 45~55% of duty ratio of system clock. Only half of timer set could meet the requirement. And very few of them are closer to 60x Hz and fast enough.

[2016-02-04 01:41] dagar opened #71 "px4.io README links are dead"
Project: http://px4.io/modules/px4flow

Dev guide / toolchain installation: http://px4.io/dev/px4flow

[2016-03-09 09:29] salanfe opened #73 "CMakeLists.txt file is outdated"
paths in the current CMakeLists.txt do not correspond to the project structure anymore.

[2016-03-12 15:04] Mahmoud-Teama opened #74 "setup firmware "Beginner""
how do i upload this firmware to the PX4 ?
also i updated the firmware through QGround software and the Ground distance is always zero even the built in Sonar works fine alone
thanks for your help

[2016-03-20 12:10] mhkabir commented on #74
```make``` and then  ```make upload-usb```

[2016-03-21 12:06] julianoes commented on #74
What kind of sonar do you want to use? And how is it connected?

[2016-03-30 14:57] mastermind999 opened #75 "PX4 Optical Flow Kit errors"
Hello.

I have a HobbyKings S500 QUADCOPTER and just brought a PX4 Optical Flow Kit and i encounter some problems with it. This is the product :
https://pixhawk.org/modules/px4flow

I am using ArduCopter 3.3 (don't know what RC, maybe the lastest)

I encounter a dozens of problems :

1. When i am running the DRONE from the battery i see no optical flow in dataflash logs at all.

2. When i am runni

[2016-04-23 23:12] #71 closed

[2016-04-28 11:48] Mahmoud-Teama opened #76 "get Postion"
Hi , How can i get position (dx,dy,dt) from the PX4Flow
i'm using arduino and the px4flow is connected through I2C
Note i can get all the i2c output like velocities, altitude and gyro but i need to know how to use the i2c output to compute the position

[2016-05-04 16:30] jgoppert commented on #73
@LorenzMeier do we want to switch the px4flow build over to cmake eventually? It looks like when v2 was added they broke the cmake build.

[2016-05-04 16:43] LorenzMeier commented on #73
Happy to do that if you want to push for change

[2016-05-06 07:06] xiaozhuka opened #77 "what's the KLT method reference"
Hi all, can any one tell me what's the KLT method reference

[2016-05-06 07:16] LorenzMeier commented on #77
http://lmgtfy.com/?q=KLT+optical+flow

[2016-05-06 07:16] #77 closed

[2016-05-07 08:18] tpetri commented on #77
Sorry for posting into closed issue, but I thought about a reference because the original papers might not be that efficient to understand and map to the code. I think a good point to start is "Lucas-Kanade 20 Years On: A Unifying Framework" (https://www.cs.cmu.edu/afs/cs/academic/class/15385-s12/www/lec_slides/Baker&Matthews.pdf).
For the case of PX4Flow just assume that the warp is simply the x

[2016-06-06 05:52] doctorluhang opened #79 "MT9v034 Camera"
Dear all,
I have a simple question. Can I change the camera sensor to another one? Since this sensor mt9v034 requires a lens that is pretty large, I want to change it into another smaller camera such as OVA7670, etc. Can I do that?

[2016-06-06 06:17] LorenzMeier commented on #79
As long as its global shutter yes.

[2016-06-06 07:28] doctorluhang commented on #79
@LorenzMeier Thanks for your quick reply. Could you please tell me why it requires global shutter? IMHO, it only captures the video frames that seemingly does not need to shutter. Besides, MT9v034 has pins of exposure and standby. Are these functions used in calculating in optical flow?

[2016-06-07 07:04] doctorluhang opened #80 "What is the resolution that STM32F427 handles?"
As we know, the SRAM in F427 is only 256KB, so if it captures the full 640x480 resolution image, the sram cannot store it. Does this pix4flow configures the camera sensor at a lower resolution, say 320x240 or something else?

[2016-06-07 08:06] tpetri commented on #80
if you start looking at the code, lets say main.c, you'll quickly find this line:
https://github.com/PX4/Flow/blob/4a314cfdb099aed9795b825e7518203771207fbb/src/modules/flow/main.c#L89

A fulltext search for FULL_IMAGE_SIZE in this repo (top search bar) gives this result:
https://github.com/PX4/Flow/blob/4a314cfdb099aed9795b825e7518203771207fbb/src/include/mt9v034.h#L127

[2016-06-08 07:50] doctorluhang commented on #80
@tpetri Thanks for the reply. Then I want to ask if this 188x120 resolution even enough for calculating optical flow. Why does the FLOW use this resolution? Is there any intrinsic reasons?

[2016-06-08 13:50] tpetri commented on #80
I don't know what you exactly mean with not enough resolution? I saw the sensor working, at least it looked like it was successfully computing optical flow, many others would also claim the sensor can work.
Did you check how the flow is computed (flow.c)? Its SAD correlation (the old algorithm) or SAD minimization (klt version) of 8x8 pixel patches at a very small number of sample locations. Its l

[2016-06-08 13:57] tpetri commented on #79
He was talking about the electrical shutter of the image sensor. If you don't want to have a global shutter, you most likely mean a rolling shutter sensor, then I would suggest to take the [rolling shutter effect](https://en.wikipedia.org/wiki/Rolling_shutter) into consideration. This is something that you don't want to have because the existing code assumes that there are no rolling shutter effec

[2016-07-02 09:53] doctorluhang opened #81 "Gyro data question"
Dear experts,
I have a question regarding the gyro data manipulation in the main.c line 407:

		/* gyroscope coordinate transformation */
		float x_rate = y_rate_sensor; // change x and y rates
		float y_rate = - x_rate_sensor;
		float z_rate = z_rate_sensor; // z is correct

I do not understand why x and y data is assign in reverse. I thought that even if the gyro is in up down direction when usi

[2016-07-20 02:16] harewei opened #82 "Position value from PX4Flow is random"
I've been trying to read the X and Y values from PX4Flow for quite a while now (and trying to use offboard indoor control with it).

I've been able to get flow_x and flow_y using mavlink message, but even if I place the PX4Flow in a stationary position, these two values seem completely random and jumps around a lot.  Is this suppose to be correct?  Maybe the Kalman Filter or some other functions i

[2016-07-20 03:34] jgoppert commented on #82
In qgroundcontrol if you plug in the px4flow you can select position publication and it gives you what you want, this just adds the flow on the px4flow instead of the px4 fmu.

[2016-07-20 03:41] jgoppert commented on #82
Also see the tutorial on dev.px4.io on optical flow.

[2016-07-20 05:47] harewei commented on #82
Um could you be a bit more specific where I can find the "position publication"?
I have QGroundControl v2.9.4-218-g7c6397d but can not find this anywhere.  There is a system parameter called "Position", but if I turn that from 0 to 1, then PX4Flow video turns to black.  Btw I'm checking the mavlink messages using QGroundControl Widgets -> Mavlink Inspector

[2016-08-05 08:46] bhaskarjyotidutta opened #83 "SF10 Lidar replacing HRLV Sonar in Px4flow"
Recently I replaced the HRLV MaxBotics Sonar of PX4Flow with SF10 Lidar . SF10 Lidar's range is 0 to 50 meters as compared to  HRLV's 0 to 5 meter.

I managed to integrate the SF10 Lidar successfully but the values won't go beyond 9.9 meter although I made all the necessary changes in the Sonar.c code

Is there any hardware or library limitation in PX4Flow that the range of any range finder integr

[2016-09-09 09:29] IkerZubi opened #84 "Understanding the flow code (flow.c)"
Hi!

I have actually bought a PX4FLOW. It is the first time I work with image processing and I am really interested of knowing about how it works. I have been trying to understand the code but I have some questions.
My problem is not the sintaxis of the code (I can find it on the internet), what I don't understand is the use/ utility of some functions. I think that with a short definition of some

[2016-09-17 23:13] jgoppert opened #85 "Increase the maximum exposure"
The maximum exposure is now set at 5% of the default. This is really detrimental indoors and for low light settings outdoors. I have manually set it to 50% of the default and it is much more robust.

@LorenzMeier

[2016-09-17 23:43] LorenzMeier commented on #85
I think there were concerns about motion blur. If your testing proves that that's actually not an issue we should go ahead and change the default.

[2016-09-18 00:18] jgoppert commented on #85
Yeah at default exposure there is a lot of motion blur, optimal value is
somewhere around 25-50% of default from testing indoors. Will try to get
some logs to compare.

On Sep 17, 2016 7:43 PM, "Lorenz Meier" <notifications@github.com> wrote:

[2016-10-09 08:30] jgoppert commented on #82
Sys send lpos

[2016-11-28 19:18] thomasck opened #87 "Very slow I2C update rate"
The flow measurements I am getting via I2C are only available at around 15 Hz, whereas I believe they should be available at about 400 Hz. Is there something I am supposed to change after I download the firmware?

Thanks!

Thomas

[2016-11-29 16:50] jgoppert commented on #87
Can you give more details on your setup and how you are measuring the i2c update rate?

[2016-11-29 16:52] LorenzMeier commented on #87
The optical flow is running at 400 Hz but you are getting it pre-integrated at a lower rate. There is no benefit in running the interface faster and this is not an actual issue with the sensor. You can change the interface code if you want to read it faster, but it will make no difference in terms of the result.

[2016-11-29 16:52] #87 closed

[2016-11-29 17:11] thomasck commented on #87
What do you mean by pre-integrated? I am trying to get a current body frame x/y velocity measurement at each time step in my control loop, which is running between 80-100 Hz. But the px4flow data seems to be updating way slower than that so I get lot's of repeated values then sudden jumps and then more repeated values, which results in an overall very blockish signal that will not work as feedback

[2016-11-29 17:17] jgoppert commented on #87
The bandwidth for position control is only ~5 Hz. So getting the data at 10 Hz is all you need. When each camera image is taken and flow is computed, it stores the pixel flow and adds it up over the interval of 0.1 seconds. If you use my latest pull request, you can change the output rate if you like in qgroundcontrol, but will have to change it in the firmware to save it. https://github.com/PX4/F

[2016-11-29 17:27] thomasck commented on #87
Hmm interesting, what about the bandwidth for velocity control? That is what I'm really trying to do. What measurement model do I use for the kaman filter?

[2016-11-29 19:42] jgoppert commented on #87
5 hz should be fine, if you have an imu you should use the specific acceleration to predict the velocity: d/dt(v) = (a - g), and then the measurement is linear in the state, y = v

[2016-12-12 01:17] thomasck commented on #87
I am a little confused about how to implement this - doesn't d/dt(v) = (a - g) have to be observable?

[2017-01-06 17:43] thomasck commented on #87
Thanks for your help @jgoppert, I was able to implement the filter and get better velocity data. However I'm still trying to change the sonar update rate to around 100 hz. Is this just a matter of changing a parameter somewhere?  I downloaded your updated firmware from google drive, but am unsure how to load it into my px4 module? QGroundControl won't let me load it as custom firmware.

Thanks,

T

[2017-03-13 14:18] nancy03610 opened #88 "Cannot get output for speed and altitude"
I think I finished all steps on devguide about optical flow but still couldn't get the speed and altitude output. I list all I have done below. Is there anything I missed?
1. Upload the px4 and px4flow firmware.
2. The blue light on pixhawk shows it works alright.
3.Success with px4flow until focus image.
4. Change parameters: SYS_MC_ESTGROUP set to LPE mode, SENS_EN_LL40LS set to enable, SENS_EN_

[2017-03-13 14:31] nancy03610 commented on #88
Sorry for my stupid mistake. I should upload this to px4flow module not pixhawk board.

[2017-04-15 08:31] kanishkanamdeo opened #89 "Cannot read values from PX4Flow"
So I have bought this PX4Flow clone from Aliexpress and it's not working. The only output I get is the video feed that I can view on the QGC. All other values are not returned. Help?

Also, this is the link to the sensor I've purchased

https://www.aliexpress.com/item/JMT-PX4FLOW-V1-3-1-Optical-Flow-Sensor-Smart-Camera-with-MB1043-Ultrasonic-Module-Sonar-for/32766580894.html?ws_ab_test=searchweb0_

[2017-04-24 16:02] trigger1996 commented on #89
Lots of guys said that optflow didn't work well.
Look up these in ardupilot or pixhawk official site, and, don't forget to make some changes in flow
and I've tried, seems ardupilot 3.5.0-dev doesn't support optflow, perhaps the earlier version works.

https://dev.px4.io/en/tutorials/optical_flow.html
and sorry I haven't found any ardupilot documents in English

[2017-05-03 15:23] #88 closed

[2017-06-26 17:45] limhyon opened #91 "mrad?"
https://github.com/PX4/Flow/blob/master/src/modules/flow/i2c.c#L313

What does this mrad mean?

[2017-06-26 18:09] ChristophTobler commented on #91
I guess milli because it gets multiplied by 1000 -> https://github.com/PX4/Flow/blob/master/src/modules/flow/i2c.c#L328

[2017-06-29 16:29] limhyon opened #92 "accumulated_flow_x,y"
Hi,
Does anyone know why accumulated_flow_x,y is mainly used for PX4 optical flow navigation?

[2017-06-29 16:39] mhkabir commented on #92
Answered on PX4 Firmware issue.

[2017-06-29 16:39] #92 closed

[2017-07-12 15:53] thomasck commented on #43
BRUH you saved me on this. I have been trying to read this damn integral frame for weeks.
 CHEERS!

[2017-07-27 07:30] hmchung opened #93 "Using FFTW with the current code"
Hi,
I would like to ask if anyone already successfully use an external library with the current PX4Flow code.
For me, I am trying to use FFTW3 ([http://www.fftw.org/]) to process the optical flow but so far did not manage to compile successfully.
Any help is appreciated. Thanks.

[2017-08-16 14:12] #91 closed

[2017-08-16 14:14] ChristophTobler commented on #89
I'm sorry, but I guess we can't help you with hardware clones as we don't use/have them.

[2017-08-16 14:14] #89 closed

[2017-08-16 14:20] ChristophTobler commented on #82
@harewei Please reopen if still an issue

[2017-08-16 14:20] #82 closed

[2017-08-16 14:24] ChristophTobler commented on #74
@Mahmoud-Teama Have a look at the [dev guide](https://dev.px4.io/en/tutorials/optical_flow.html)

[2017-08-16 14:24] #74 closed

[2017-08-16 14:44] #49 closed

[2017-08-18 11:22] feilongfl opened #95 "can not connect to QGC"
i use the command below to upload firmware.and then i can not connect to the QGC,what should i do.
[code]
output:
![2017-08-18 19-19-17](https://user-images.githubusercontent.com/10269596/29456904-5aed2864-844a-11e7-9e4b-6c53bbe9f94a.png)

QGC:
![2017-08-18 19-17-32](https://user-images.githubusercontent.com/10269596/29456930-6c64f798-844a-11e7-9800-657d7c2b9cb2.png)

code is in master branch.

[2017-08-18 11:23] feilongfl commented on #95
i have join the user group dialout

[2017-08-18 11:25] feilongfl commented on #95
then i try to connect with mavproxy,it show me `Device or resource busy`
![2017-08-18 19-24-48](https://user-images.githubusercontent.com/10269596/29457085-0742c2a4-844b-11e7-952f-715b96a09718.png)

[2017-08-18 11:29] ChristophTobler commented on #95
There is an error: `ERROR: timeout waiting for data`

It should be
[code]
Try again with `make upload-usb`

[2017-08-18 12:16] feilongfl commented on #95
oh sorry, i put the wrong picture on it,it not the program downloads error.

i think it may be the QGC 's error.
i have try to use old QGC,it works,now i use the QGC version v3.1.1

[2017-08-18 12:21] #95 closed

[2017-09-01 14:56] feilongfl commented on #95
i put an issues in [https://github.com/mavlink/qgroundcontrol/issues/5591](issues),they reply me it will be fix in v3.3

[2017-09-08 12:43] AlexisTM opened #97 "High velocities due to the PX4Flow; making everything unstable."
**Type**: BUG
**Firmware**: PX4 1.6.5
**Mavros**: 0.19.0
**Flow Firmware**: Recent version from QGroundControl

We have this problem for some time now.

The PX4Flow works perfectly for some time, while it gets a position, but after a successful autonomous flight, we just let the drone on its landing position and the position (mavros/local_position/pose) goes back to 0 after some time, as expected.

[2017-10-05 13:55] AlexisTM commented on #97
Wouldn't it be more stable to store the integrated_data as integers (int16_t) with a fix resolution? With LSB = 0.1mm, the maximum speed would be 6.5 meter between two measurements.

Indeed, once the PX4Flow drifted a lot (due to invalid positioning) the LSB has a big influence on the float and we are loosing a lot of precision.

[2017-10-09 07:31] AlexisTM commented on #97
This does not happen with #96 as we got a position fix all time.

[2017-10-09 07:35] AlexisTM commented on #93
Any update?

I wonder if adding `CFLAGS` in the makefile would be sufficient.

[code]

[2017-10-09 07:42] AlexisTM commented on #76
The position you ask : (dx, dy, dt) are velocities.

You can enable "SEND_LPOS" to "send local position" and receive a message with X, Y, Z integrated position.

[2017-10-09 07:48] ChristophTobler commented on #97
@AlexisTM Isn't this rather a Firmware issue? What estimator are you using? Can you provide a log?

[2017-10-09 11:40] AlexisTM commented on #97
As it happened each time when the PX4Flow was valid and went invalid for a long time (could be 5 mins) then was valid again, I would bet either on a PX4Flow integration error due to the high drift due to invalid data (integrated_x is a double, so when it goes big, it is imprecise) or a bug in the PX4 Firmware when the data is valid -> invalid -> valid again.

I have no bag but I remember the behav

[2017-10-09 14:51] ChristophTobler commented on #97
What is your exact setup? Usually the PX4Flow module just provides integrated angular rates (see http://mavlink.org/messages/common#OPTICAL_FLOW_RAD) to the Autopilot (PX4 Firmware). There the estimator uses the data to convert it to velocities using a distance sensor. So I highly suspect it is an issue with the estimator. Therefore I need to know what estimator you are using.

And I don't need a

[2017-10-10 07:05] AlexisTM commented on #97
I have no log available for the moment as I am unable to get logs from QGC more likely because I changed multiple times of Firmware.

[2017-10-10 07:07] ChristophTobler commented on #97
@AlexisTM I see. Have you tried reading the logs directly from the sd card?

[2017-10-10 07:10] AlexisTM commented on #97
I did not, but I have over 500 logs and I would have to find which one is bugging. I will try to replicate.

[2017-10-10 08:00] AlexisTM commented on #97
@ChristophTobler Here is the log: https://logs.px4.io/plot_app?log=962b0f4e-3553-4ec2-b398-40258c9286e5

What I did: I moved it a bit at the beginning. Then I left it there for minutes then took it back up.

To know if it was handheld or on the ground, just check the raw accelerometer ;)

Bugs:
* 3'30" - 4'30" Handheld
* 6' to 10'; While on the ground.
* 10'20" to 11'50"'; Handheld.

[2017-10-10 08:31] ChristophTobler commented on #97
Thanks! Since this is a Firmware/estimator bug, I'll close this one.

[2017-10-10 08:31] #97 closed

[2017-10-10 08:32] AlexisTM commented on #97
Yup, after seeing this bag, I published the issue on the PX4 Firmware.

[2017-12-21 08:15] leonkaihao opened #98 "There might be a hidden error in hist computing"
The source lines can be found in function compute_flow as follow:
[code]
It is strange that the variable i has no direct correlation with the array ‘subdirs‘， so there must be some misunderstandings with this array, or using 'meancount-1' as its index.

[2017-12-21 10:16] tpetri commented on #98
I agree, this seems to be a quite old bug.
I think the check here should be at `subdirs[meancount]` instead of `subdirs[i]`.

At the same time I am not sure whether it is a good idea to have the array size of `dirsx`, `dirsy` and `subdirs` hardcoded to 64 while the max of `meancount` is defined indirectly by `SEARCH_SIZE` and `NUM_BLOCKS.` If I remember right, the assumption is that it should not

[2017-12-21 13:44] leonkaihao commented on #98
Yes, that's true. We also can find the hard code in micro ‘ABSDIFF’. It seems that a 64x64 image processing is not a option but a necessity.

[2018-04-17 18:23] sluthra1 opened #99 "Unable to make"
Hello I am trying to make the flow library on my MacBook, I've installed the toolchain. I am able to compile PX4, but when I run make on the px4flow firmware libraries I cannot complete the make. The first problems were with python incompatibilities (mode 'rob' and cString vs io.bytesIO), but now with those resolved I get the error":

Flow/Tools/make_can_boot_descriptor.py", line 283, in <module>

[2018-04-30 08:12] jlecoeur commented on #99
This is a problem of compatibility between python 2 and python 3. I fixed it in PR #96 .

The relevant changes are in https://github.com/PX4/Flow/pull/96/commits/dd2425bd02fd8bb02aded8d36e0eb60fdad7b866

[2018-06-18 07:33] EdXian commented on #99
Hi @jlecoeur ,
I got the following problem:

![screenshot from 2018-06-18 15-31-40](https://user-images.githubusercontent.com/28064159/41523531-eb14b70c-730c-11e8-8ac0-f5b6bc243802.png)

How do I fix it?

[2018-06-18 16:48] jlecoeur commented on #99
@EdXian this is a different problem, please open separate issues in this case.

Your problem is that your compiler version is not allowed, you can either:
- install one of the versions suggested in the error message
- add 7.2.1 near line 57 of file `src/Flow/makefile/baremetal/toolchain_gnu-arm-eabi.mk`

[2018-07-03 19:30] Torgenn opened #100 "Missing documentation"
I can no longer find the documentation for the PX4 flow sensor (parameters, calibration procedure).
The links on the readme are dead (http://px4.io/modules/px4flow) and I remember reading some documentation on the pixhawk website but it's no longer there (https://pixhawk.org/modules/px4flow). I haven't been able to find any other source.

[2018-07-06 14:07] Torgenn commented on #100
Documentation can be found at: https://github.com/PX4/px4_user_guide/blob/master/en/sensor/px4flow.md

[2018-07-06 14:07] #100 closed

[2018-08-06 10:58] Oceasdeep commented on #85
I used px4flow with all default values, px4flow must be installed more than 30 cm above the ground, in order to take off on its own.I changed the lens of 6mm and changed the focal length parameter to 6. Can be installed normally without raising the height, but use 6mm lens in a slightly brighter lighting environment, the drone positioning effect has drifted, sometimes drifting very large.have I fo

[2018-08-29 07:28] rr2-ip opened #101 "PX4FLOW publishing zeros to DISTANCE_SENSOR.current_distance"
Hi,
I am trying to get PX4FLOW working on my Intel Aero RTF Drone, using the PX4FLOW board and a LeddarOne rangefinder. I have the LeddarOne **and** the PX4FLOW board plugged into the Telemetry port of the drone. I do not have an ultrasonic module attached to the PX4FLOW board.
The telemetry port has 6 pins - VCC, GND, TX, RX, SCL, SDA. I'm using the TX and RX pins for the rangefinder, and the SCL

[2018-08-29 07:37] ChristophTobler commented on #101
I don't think that this is possible as there is no parameter for that. Maybe we should create one.?
You could however remove https://github.com/PX4/Firmware/blob/master/src/drivers/px4flow/px4flow.cpp#L591-L604 in the Firmware and flash that version.

[2018-08-29 07:39] rr2-ip commented on #101
@Torgenn Did you encounter this issue when you got LeddarOne + PX4FLOW working on your Intel Aero RTF drone?

[2018-08-29 07:41] rr2-ip commented on #101
@ChristophTobler I'll give that a try and report back. Thanks for the very quick response!

[2018-08-29 07:41] ChristophTobler commented on #101
I never had a PX4Flow attached to an Intel Aero as it already has a downward facing camera and an optical flow app.

[2018-08-29 07:43] rr2-ip commented on #101
That didn't work for me. Take a look at the issue I raised here: https://github.com/intel-aero/meta-intel-aero/issues/372

The FPS of the downward facing camera is too low. I think it's a fault with our drone's camera.

So the PX4FLOW camera is a work around because of that issue.

[2018-08-29 15:12] Torgenn commented on #101
@rr2-ip I never had that issue, the distance_sensor.current_distance was showing the leddar1 values only

[2018-08-30 06:33] ChristophTobler commented on #101
On other platform I've never had this issue as well. If there are two distance sensors, they will be published on different uorb instances and e.g. EKF2 will only use one of them.
I would need to check if mavlink uses several instances and sends a mix of them.

[2018-08-30 06:56] rr2-ip commented on #101
Both sensors are plugged into the one Telemetry port, and both show up as ID = 0. Could this be the reason that the distance readings are getting mixed up?

[2018-08-30 07:01] rr2-ip commented on #101
@ChristophTobler When I comment out the lines you suggested and flash my drone, the px4flow driver is absent when I check for it in MAVLINK CONSOLE. Before I comment out that section, the driver shows up no problem.

[2018-08-30 07:01] rr2-ip commented on #101
@Torgenn Thanks for the response!

[2018-08-30 07:27] ChristophTobler commented on #101
What do you mean with the driver shows up in the mavlink console? In QGC Analyze? Do you mean you don't see a distance sensor? That would mean that your LeddarOne isn't working.
If you comment out the lines only the distance sensor from the PX4Flow module should not be pubished. Optical flow should still be published. Can you verify that?

[2018-08-30 07:40] rr2-ip commented on #101
In QGC, there is a MAVLINK console that is basically a terminal to access the drone's flight controller and associated commands (like starting or stopping a sensor driver).

When I comment out the lines as you suggested, OPTICAL_FLOW_RAD is **not visible**, but DISTANCE_SENSOR is **visible**, displaying LeddarOne data only (no zeros weaved in between). px4flow driver is **not visible** in MAVLINK

[2018-08-30 07:52] ChristophTobler commented on #101
Ah ok, that's weird. Can you check if PX4Flow is running? `px4flow status` in that console
Are you using a "self compiled" Firmware in both cases? (not a release for example) And did you make sure you only commented the distance sensor publication and not both?

[2018-08-30 08:03] rr2-ip commented on #101
`px4flow status` returns `px4flow: command not found` if the px4flow driver is not visible in the MAVLINK console, otherwise it returns some test data that makes it seem like it is working.

I'm not sure what you mean by self compiled, but I have forked the PX4/Firmware repository and made the changes there. Then I am running from the Home directory on my Ubuntu PC:
`git clone https://github.com/r

[2018-08-30 08:29] ChristophTobler commented on #101
That's what I thought. In your original test you didn't use a self compiled Firmware binary. You can't use the driver because it has not been compiled for the AeroFC target. You need to add the PX4Flow driver to https://github.com/PX4/Firmware/blob/master/cmake/configs/nuttx_aerofc-v1_default.cmake#L6 (`drivers/px4flow`) to that list.

[2018-08-30 08:42] rr2-ip commented on #101
That's confusing. Why was the PX4FLOW driver present when I clone directly from the PX4/Firmware github?

[2018-08-30 08:48] ChristophTobler commented on #101
That doesn't change anything. Have you actually compiled and uploaded the Firmware yourself before? Could be that the previous version on your Aero was an Intel version that had the driver added to that target.
Anyways, is it now working for you?

[2018-08-30 09:15] rr2-ip commented on #101
I've done it a few times but I don't know some of the intricacies of building custom firmware. The first time I did it after forking, the px4flow driver was visible and working... strange. I'll be sure to take special note of the nuttx.cmake file from here on out.

PX4FLOW is still somehow publishing zeros to DISTANCE_SENSOR, even after commenting out the code you suggested. I have even tried disa

[2018-08-30 09:35] ChristophTobler commented on #101
Hm... Can you try commenting all occurrences of `_distance_sensor_topic` in the driver and disable/unplug the LeddarOne?

[2018-08-31 08:05] rr2-ip commented on #101
Uncommenting all occurrences of _distance_sensor_topic fixed the issue for me. Thank you very much for your assistance.

[2018-08-31 08:05] #101 closed

[2018-08-31 08:37] ChristophTobler commented on #101
Glad to help :) Thanks

[2018-10-02 09:22] rr2-ip opened #102 "Unstable local position estimates when using PX4FLOW"
Hi there!

I've been trying to implement a PX4FLOW camera + LeddarOne rangefinder on my Intel Aero RTF Drone for some time now. I have the PX4FLOW camera connected via I2C to the Telemetry port. The LeddarOne is connected to the TX and RX pins of the Telemetry port.
I have updated the PX4FLOW firmware, enabled the driver and started it on boot. When off the ground, the OPTICAL_FLOW_RAD.quality is

[2018-10-04 05:50] rr2-ip commented on #102
I've narrowed down the cause as to what triggers the instability in the EKF. When the drone is sitting on the desk, both the OPTICAL_FLOW_RAD.quality and OPTICAL_FLOW_RAD.distance = zero in MAVLINK. After about 5-10 minutes of constant zero quality and distance, there is a single spike up to about 250 quality, and at the same time a single spike in distance = 66. The local position estimates then

[2018-10-04 06:57] rr2-ip commented on #102
@ChristophTobler Have you encountered this before? I feel like I'm close to a fix and your expertise might get me over the line.

[2018-10-09 19:38] rhamrah opened #103 "I get Error [px4flow] PASS when I run px4flow test in mavlink console! (PX4Flow+EKF2)"
Hi,
I am using an optical flow sensor which has a sonar, plus EKF estimator, not using GPS. The flow sensor is connected to a Pixhawk through I2C port. The QGC version I am using is 3.4.4 the latest one, and the PX4 firmware is 1.8.0dev for a zmr250 racer airframe. I've also set all required parameters in qgrouncontrol as:
[code]
and I am receiving and seeing all optical flow data on Mavlink Inspe

[2018-11-12 13:48] haohuachang opened #104 "feed histogram filter question"
I cann't understand that `uint8_t hist_index_x = 2*sumx + (winmax-winmin+1);`  [code here](https://github.com/PX4/Flow/blob/master/src/modules/flow/flow.c#L486-L495),Do you kown that? or have this paper and reference document?, I think that should be `hist_index_x = sumx + (winmax-winmin)/2;`
[code]
@LorenzMeier @ChristophTobler

[2018-11-14 00:59] #104 closed

[2018-12-17 17:35] lesto opened #106 "Add license.tct"
What is the license used in this code? is quite hard to find out, looking at the firmware header seems there is no limitation (BSD-like?), but is that true for all the code base?

[2018-12-18 16:05] lesto opened #108 "What is the official release commit?"
The px4flow come pre-programmed, but i cant find any tag/release, could you please add this information?

The only info i could find is the elf file 6 years old in the root of the project (along with a CMakeList that has been broken for at least a couple of year too.. maybe is time for a bit of cleaning? meanwhile i did what i can and fixed the CMakeList)

[2019-01-07 14:05] bkueng commented on #106
I think it's BSD. @LorenzMeier can you confirm?

[2019-02-07 11:00] lesto commented on #106
any news?

[2019-02-12 08:41] LorenzMeier commented on #106
We can add a license file and it will reflect BSD. However, there are infrastructure libraries and derived file in use here that have their own license.

[2019-02-14 10:22] lesto commented on #106
Thanks, an explicit license file would be greatly appreciated.
For extenal code I identified /mavlink, /src/lib/ and /src/modules/ , those i can look into and contact them if their licensing is not clear.

[2019-02-28 03:11] MerlotQ opened #109 "Why use flow as a angular sensor rather than a linear velocity/position sensor?"
I see px4 firmware use flow rad msg to fuse with imu. Why not use it as a position or veloocity compensator? I tested the px4flow recently and found that the linear velocities flow msg gives seems good to use.

[2019-03-06 03:51] #109 closed

[2019-03-11 03:06] mohammedari commented on #109
I think distance from the sensor to ground is required for conversion from optical flow to linear velocity, but this conversion is have to be done in PX4 side as PX4 supports use px4flow with various distance sensor other than sonic sensor on px4flow such as lidar sensors.

So, the answer for the question is because px4flow itself can not convert it. However, I am not familiar with this conversion

[2019-03-11 05:28] MerlotQ commented on #109
@mohammedari Yes. The flow sensor cannot give absolute velocity. It needs a scale. So the integrated angular velocity namely in 'rad' from is in use. The value devided by integrated timespan gives angular velocity. And then devided again by distance to ground returns linear velocity in a metric scale. I think this is the reason to use this delta angle to represnet optical flow rate(equivalent of L

[2019-03-11 12:04] cpamritkar commented on #24
Hello all,
I am also facing same issue when connected to PC via USB and try to read the MAVLink packets. The sensor is communicating fine when accessed through MissionPlanner.

Any advice for the same is appreciated.

[2019-03-12 06:59] mohammedari commented on #109
@MerlotQ Thank you for the link. I have now understand why flow_y is with 'rad' form as `V_y / Z` is `tan(\theta)` and this approximately equals to `\theta` while it is small. Thanks!

[2019-04-28 13:24] Itamare4 commented on #83
Hi @bhaskarjyotidutta,
Could you please share the code for integrating SF10 at sonar.c?

Thanks.

[2019-05-09 10:49] gyzii opened #111 "PX4FLOW can not work outside"
Hello！I am working on PX4FLOW recently.Unfortunately, I have encountered some problems that I can't solve. I would be grateful if someone can help me solve these problems. Thank you!

Basic situation: Pixhawk(using ardupilot firmware)+PX4FLOW+Mission Planner

Problem 1:
 I followed the tutorial on the website to install and debug PX4FLOW. （Here is the website:
http://ardupilot.org/copter/docs/comm

[2019-05-27 07:31] #73 closed

[2019-06-03 07:43] acpl00 opened #112 "PX4FLOW and PixHawk 4 mini issue"
Dear people.

I have set up:

-PixHawk 4 mini
-PX4FLOW V2.3
-GPS

The communication to the groundcontrol station is via wireless.

So far I can see in the mavlink inspector the:

  -optical_flow_rad
  -local_position_ned

I use EKF2 and I have Set

 SENS_FLOW_ROT to 270 degrees, default
 EKF2_AID_MASK to use optical flow
 EKF2_HGT_MODE to use the range finder

The question is:

How can I check the

[2019-06-19 14:57] pxfdale opened #113 "px4flow sonar no distance. Help!"
I followed the steps( I have flashed px4flow.px4 & px4flow-klt-06Dec2014.px4... ) in the Internet to use px4flow. ( [http://ardupilot.org/copter/docs/common-px4flow-overview.html](url) )

px4flow works but sonar seeems to not work. flow_x and flow_y works well, but distance is always 0.

Guys, what's the steps you use sonar? Did I miss any steps? Is the output of sonar "distance" or others?

( Bes

[2019-07-13 16:13] MKargus0 opened #114 "Vehicle reject position control when using optical flow"
My px4(1.9.2) Quad reject position control when using Px4 flow sensor(Holybro) with PX4 Pro latest firmware
I use i2c bus for conection.

SENS_FLOW_ROT = 270
I try to use LPE
LPE_FUSION = 4
LPE_FLW_QMIN  = 10.
LPE_FLW_SCALE = 1.0.
LPE_FLW_R = 0.1.
LPE_FLW_RR = 0.0.
and EKF 2 estimator
EKF2_AID_MASK =  2
EKF2_OF_DELAY = 0.
EKF2_OF_QMIN  = 10.
EKF2_OF_N_MIN = 0.05.
EKF2_OF_N_MAX = 0.2

Can you help

[2019-07-25 17:38] darkom-ltu opened #115 "Firmware version onboard"
Hello,

Is it possible to read which firmware version is currently on PX4FLOW?
I notice performance degradation when I upload the newest firmware with exactly the same parameters I had on the one which sensor came with.

I also wonder if it would be possible to get 'hex' out of the PX4FLOW sensor out as a 'backup' and flash another sensor with it? I currently have 1 working on older firmware which

[2019-08-12 05:38] galdalali opened #116 "Binning"
Can someone explain the idea behind the binning operation?

Thanks, Gal.

[code]

[2019-09-09 19:13] Jeoker opened #117 "Links in the readme become unavailable"
Hi, the links in the readme seem to be obselete, can you please update them?

[2019-10-01 21:09] kornat commented on #114
I have exactly the same problem.

[2019-10-29 10:10] kpihus opened #121 "Sonar requirements"
Hi,

I have PX4Flow board in use, with this firmware. Quad also has dedicated lidar for a rangefinder. PX4Flow board ultrasonic sensor is desoldered.
So my question is this sonar needed by this firmware, or it is not in use.

FC: Pixhawh 1, with PX4@v1.9.2

--
Kpihus

[2019-10-29 10:28] jlecoeur commented on #121
The PX4Flow firmware uses the sonar to scale optic flow and estimate velocity. It sends optic flow, distance, and speed estimate to the autopilot.

However, the PX4 firmware does not use the speed estimate computed on the PX4Flow. Instead, it fuses optic flow and distance measurements with an EKF.

TLDR: it is OK to unsolder the sonar.

[2019-12-27 18:39] alexcherpi commented on #114
I also have the same issue.

[2020-01-02 08:28] zaccer commented on #83
HI @bhaskarjyotidutta, how did you connect the LiDAR to px4flow module and what changes did you make in the firmware to read LiDAR data instead of sonar?
I am trying to do the same thing with tfmini.

[2020-01-30 13:15] mike239x commented on #81
I should say in advance I probably don't understand what I'm saying, so be careful and think for yourself.

I think the reason is the following:

What is being computed here is offset to the flow based on gyro data.

Assuming the camera is stationary, if we rotate it along X axis, the image from camera would move along Y axis, as if the camera moved along Y axis horizontally. This is exactly why X

[2020-01-30 14:39] mike239x commented on #81
Also, according to https://github.com/szobov/Flow/commit/7aa35163514cf908f5cb90bfb56cf69623906524
the signs are wrong, I guess.

[2020-02-03 10:02] mike239x opened #122 "Using px4flow as a robot-cart part"
Good day,

I got myself a px4flow camera which I want to use for purposes that it isn't really tailored to do.
I wanted to ask quite a few questions about documentation / firmware / data processing.

1. Is [this link](https://docs.px4.io/master/en/sensor/px4flow.html) the latest documentation available?
For instance, I see some of config parameters being undocumented - such as `AEC` and `AGC`.
2.

[2020-02-05 09:26] mike239x commented on #122
Welp I gained some knowledge so I will try to answer my own questions.
1. It seems to be the case.
2. Best option is to use current master branch. It is almost the same as ArduPilot but with a few bugs fixed. Also, one major change is that in the new version the exposure time is set to 500 (μs) by default - see https://github.com/PX4/Flow/blob/master/src/modules/flow/settings.c#L202 ; and before t

[2020-02-05 09:37] mike239x commented on #117
The latest dev duige I could find is this - https://docs.px4.io/master/en/sensor/px4flow.html - and it is also somewhat obselete.

[2020-02-05 09:40] mike239x commented on #115
Can you check that EXPOSURE_MAX and BRIGHT params are the same as before?

[2020-02-05 09:44] mike239x commented on #113
Do you have a sonar attached to px4flow? If not then the behavior you observe is to be expected.

[2020-02-05 12:41] mike239x commented on #84
Regarding 4. - as you can see from https://github.com/PX4/Flow/blob/master/src/modules/flow/flow.c#L452, `compute_sad_8x8` is currently unused and `ABSDIFF` macro is used instead.
Regarding 8x8 pixel patches used - indeed, the code has a lot of intrinsics to make it fast, which enforces "fixed" size.
Can't really answer any other questions you asked.

[2020-02-05 15:36] mike239x commented on #122
5. Bottom flow does not have any additional meaning and just refers to optical flow.

[2020-02-05 15:36] #122 closed

[2020-02-05 16:07] mike239x commented on #98
+1, that should have been `subdirs[meancount]` aka `mindir`.
Also +1 regarding `ABSDIFF`, though I think one should open another issue for that one. Also, in the code there is the `compute_sad_8x8` which does exactly the same and does not have restriction of width of 64px, but that function is unused and  `ABSDIFF` is used instead...

[2020-02-06 13:48] mike239x commented on #84
So yeah, `compute_sad_8x8` and `ABSDIFF` have the same functionality, but the macro "turned out to be 25% faster". The macro however has hard-coded values for image width, so I wonder if it is a fair comparison.

Reason for 4x4 pattern is probably "just because".  STM32 has intrinsics that work with 4 bytes, so the choice was either 4x4 or 8x8. I don't know why authors ended up with 4x4. The only

[2020-02-07 14:09] mike239x opened #125 "usage of ABSDIFF macro in flow.c"
The commit 24b790d0395ac6ebfd3f3ccfef2b8383a2f4468b states:

However `ABSDIFF` macro (the assembly version) is using hardcoded image width of 64 px, while `compute_sad_8x8` has variable image width. So I made an experiment - I added timing + debug output to the code and measured `compute_sad_8x8(..., (uint16_t) FRAME_SIZE)` vs `ABSDIFF(...)` vs `compute_sad_8x8(..., 64)`; and I got that the last o

[2020-02-11 00:31] RickReeser commented on #122
@mike239x Thanks for answering your own questions, I had many of the same. Can you point me to the discussion/information that answered your question 2? I'm working with low-light environments and found that the received data doesn't slow down until exposure time is >1000. I want to increase it further, so I'm looking for some guidelines on what might be an acceptable update rate.

[2020-02-11 09:23] mike239x commented on #122
@RickReeser For me that was mostly experimenting + reading source code. I compared old/new versions of code for flow computation, and saw that only a few minor bugs were changed. Then I found how to change exposure in either version, and saw that new code behaves quite the same as the old one if you lower exposure and vice versa.

Regarding your question, I don't know how "low-light" is it in your

[2020-02-11 12:19] #98 closed

[2020-02-11 18:51] RickReeser commented on #122
@mike239x ah okay, in that case thanks for doing some of the research for me.

I was able to turn exposure up to 2000us (>2000 caused some kind of oscillation). I was "measuring" update rate by just looking at the frequency of received MAVLink ENCAPSULATED_DATA packets, which seemed to max out at ~350 Hz and started decreasing if I increased exposure more than 1000. At 2000us exposure, updates wer

[2020-02-12 08:56] mike239x commented on #122
Welp, this is confusing. First, a few things I am certain about:
1) If you desire so, you can still speed opt.flow computation as described above.
2) If I understand it correctly, the camera collects photons till exposure time is up OR the desired brightness is achieved. Also, it seems the camera can't capture faster than 400Hz. That mostly explains the rate behavior you observe.
What confuses me

[2020-02-14 10:20] mike239x commented on #117
Fixed via 6c8cdb3cc04a5854a7b50e76e267e35507a0a0c4

[2020-02-14 10:20] #117 closed

[2020-02-14 10:32] mike239x commented on #99
Python vs Python2 issue was fixed in 8fa8fdcd7be6ea3ac370379db87003927932a3e7.
The default compiler version on Ubuntu 18.04 is 6.3.1, so 7.2.1 is a bit too new, maybe will get tested and added later.

[2020-02-14 10:32] #99 closed

[2020-02-14 10:37] mike239x opened #126 "Move to Python3"
Python2 got to the end of support and it is time to move to Python3, so scripts should get updated. Basically one would have to fix all the files touched in commit 8fa8fdcd7be6ea3ac370379db87003927932a3e7 and maybe some more.

[2020-02-14 10:40] #79 closed

[2020-02-14 10:43] #80 closed

[2020-02-14 10:44] #84 closed

[2020-02-14 10:51] mike239x commented on #116
The camera (MT9V034) has standard output of 752x480, but we use 4x4 binning, so the images have size of 188x120. So a single pixel on the resulting image has size of 24μm instead of original 6μm.

[2020-02-14 13:54] mike239x commented on #112
Hm, afaik PX4FLOW itself does not do anything with GPS, so any kind of combination with GPS happens on the PixHawk side, so you better ask there.

[2020-02-14 14:30] mike239x commented on #108
+1, it is a good idea to have at least some release version.

[2020-02-14 14:46] mike239x commented on #111
Well, that is unusual, it is supposed to work better outdoors than indoors :)
You can try:
1) Moving slower.
2) Playing around with exposure (lowering it / trying autoexposure).
3) Trying some hacky stuff like changing NUM_BLOCKS in [line 55](https://github.com/PX4/Flow/blob/6c8cdb3cc04a5854a7b50e76e267e35507a0a0c4/src/modules/flow/flow.c#L55) from 5 to 4.
4) Trying out `klt` branch of this repo (

[2020-02-14 14:49] tpetri commented on #81
The cited code in main.c might just be a hardware transform (maybe the sensor is physically rotated against the printed coordinate axis on the px4flow pcb). So that snippet makes sure that x_rate and y_rate correspond with the printed axis.

If that is the case then the sign switch in the commit of szobov might not be correct. Because we need exactly the transform that mike239x explained to match

[2020-02-14 15:01] Adrianrr94 opened #127 "How good is the pose estimation at 18 m"
Greetings.

I am considering buying this sensor for a project in which it is need to fly at a height of 18m above ground, and I would like to know what precision can be achieved with this sensor at that height. The manual says the maximun height is 25 m, but It would be nice if someone could share their experience in a similar situation. The flight will be always indoors.

Thanks.

[2020-02-17 15:31] dominiknatter commented on #102
Hi @rr2-ip,

I think I have similar issues (see [here](https://github.com/PX4/Firmware/issues/14165)), i.e. spiking optical flow values making the EKF2 go crazy. Did you ever manage to solve it? I currently think it could be a connection issue because we both use I2C on the TELEMETRY port instead of (potentially more reliable) UART.

Thanks,
Dominik

[2020-03-05 08:33] rk800506 commented on #113
you must be using a distance sensor along with px4flow

[2020-04-16 14:12] timarnold commented on #116
In the paper describing the PX4 (Honegger, "An Open Source and Open Hardware Enabled Embedded Metric ..."), it says "When pixel binning is enabled...", implying binding is a configurable parameter. Based on the code repository, it looks like this is fixed at binning 4. Which is correct? Thanks!

[2020-04-17 07:43] tpetri commented on #116
The paper references the Aptina MT9V034 sensor at that point in the text, the context being: Natively the sensor allows 60Hz at 752Hx480V, but if you activate binning [on the sensor] it can go upto 250Hz at 188Hx120V.
So yes, it is a configurable parameter of the hardware sensor itself and this configuration is done in the code, it is set to 4.
Implying from the paper that it is a user configurabl

[2020-04-20 13:05] timarnold commented on #116
Thanks! This is very helpful. I appreciate it.

[2020-06-19 15:14] Chick92 commented on #113
I am having the exact same issue, have you made any progress?

Does the jumper for TTL on the sonar have to be soldered? It could possibly be a broken sonar unit, but i don't know if the PX4FLOW uses the analog, pwm, or serial (in TTL or RS232) mode? Some clarification on this will be helpful, as i can then being to debug.

Is the sonar still supported on the PX4FLOW? I'm not intending to use it w

[2020-06-20 00:11] Chick92 commented on #113
For anyone else reading this -

Solder the jumper pad on the ultrasonic sensor to enable a ttl serial output, and solder the 5v jumper on the PX4FLOW, the ultrasonic will then work and give data.

It's genuinely ridiculous that i had to trawl obscure forums to do with rovers to find that out.
It's not listed in any of the documentation i could find for the PX4FLOW sensor.

[2020-06-20 04:04] rk800506 commented on #113
I am not using sonar. I have used a TFMini LIDAR as a range finder.

On Sat, Jun 20, 2020 at 5:41 AM Anon <notifications@github.com> wrote:

[2020-06-29 16:00] #102 closed

[2020-07-02 20:48] zhanghaijason commented on #114
Hi, is there any progress in using optical flow sensor? I am running the same rejection position problem with a flow breakboard. Thanks

[2020-07-08 11:13] rushilkhurana opened #128 "Error in build"
I have a PX4FLOW Smart Camera Sensor Board. I was following the build instructions at https://docs.px4.io/v1.9.0/en/sensor/px4flow.html#build

I was able to successfully install the PX4 toolchain. Then to build this code,

I cloned the directory, and followed the instructions. I was able to successfully do make archives. However, when I run 'make', I get the following error:

[code]

I am on MAC O

[2020-07-08 20:27] radnvlad commented on #128
Hmm, I'm not too familiar with this build system but I'm going to take a crack at this.

 - On my machine (popos 20.04) it builds just fine so I think the repo is fine, it's _prooobably_ something with your setup.
- I see NodeStatus.hpp on my end inside ./Build/px4flow-v2_default.build/home/vladr/git/Flow/src/modules/uavcannode/dsdlc_generated/uavcan/protocol/NodeStatus.hpp - might want to check i

[2020-07-08 22:46] rushilkhurana commented on #128
I have a working directory until-

`/Users/sylar/PX4/Flow/Build/px4flow-v2_default.build/Users/sylar/PX4/Flow/src/modules/uavcannode/dsdlc_generated/uavcan`

It has only two files:

It does not have any folder for protocol which should contain the missing file.

Yes, the directory:

exists, and it has a bunch of files.

When I do a git status in this folder, I get:

So, it looks like it did succes

[2020-07-18 07:21] rushilkhurana commented on #128
I am not sure why it solved the issue, but for future reference- on my setup, I had to download the [PX4 Firmware](https://github.com/PX4/Firmware) and follow the Clang instructions here: https://dev.px4.io/v1.9.0/en/setup/dev_env_linux_ubuntu.html#clang

In the Clang instructions, I removed the rpi specific paths.

When I built and uploaded the Flow repository afterwards, I did not get the above

[2020-07-18 07:21] #128 closed, assigned to nobody

[2020-07-18 22:59] tstellanova commented on #115
I was wondering about the version currently available via QGroundControl, so I grabbed it from AWS and ran:

[code]
This gave the following info:
[code]
So apparently that build is from [code submitted August 2017](https://github.com/PX4/Flow/commit/1bb4e50d305ebd952851e8cbea4b3312e9744360).

[2020-07-21 06:21] rushilkhurana opened #129 "Data Output from PX4Flow camera board"
I am having trouble getting output from the PX4Flow camera board.

When I use the MAVlink inspector in QGroundControl and I am able to very minor changes in the optical flow values when I shake my hand vigorously in front of it (not enough I think). The camera feed/visualization seems okay.

However, if I try to read any values using existing APIs such as [PyPX4Flow](https://github.com/simondlevy/

[2020-10-15 11:00] akvavit01 opened #130 "<uavcan/protocol/GetNodeInfo.hpp> not detected"
When building using make all, GetNodeInfo,hpp is not found

![Screenshot from 2020-10-15 17-59-29](https://user-images.githubusercontent.com/48801175/96114855-5717c100-0f10-11eb-9176-6b8d157b75b8.png)

[2021-01-04 03:20] RPFey commented on #130
Hi, I encounter a similar problem. I can't find file `NodeStatus.hpp`. I find the same module `libuavcan`  in PX4 repo Firmware and I can build it. So I believe the building environment is wrong.
I check the build output and find the python generator fail. I disable the conda environment and use python 2.7 to build, and it pass.
I think you should check the building environment according to PX4 Gu

[2021-02-04 13:30] AlexisTM commented on #127
With the ultrasound, you should not exceed 4m. Else, you can go higher depending on the range of your laser measurement device.

[2021-05-09 19:46] ashwinlele opened #132 "Low and fluctuating quality of flow over i2c while USB works fine"
I am trying to use px4flow optical flow with Lidar Lite v3 for optical flow based EKF2 position stabilization on NXP FMUK66. My optical flow camera gives high quality output (>200) when connected over USB. The images are of good quality and I tested it over multiple surfaces and illumination.

However, the quality drops suddenly when connected to the flight controller over i2c and fluctuates heavi

[2021-05-10 12:52] davids5 commented on #132
Check the speed of the I2C it 100 kHz or 400 kHz? What voltages is connected to the Flow?

[2021-05-10 18:01] ashwinlele commented on #132
Thank you for the reply. I am starting the sensor with the command px4flow start -X -f 400 to start it with 400 kHz. The file "PX4-Flow-master\src\modules\flow\i2c.c" also defines: i2c_init.I2C_ClockSpeed = 400000;

However, I am not sure if this is getting accepted as I see the rate at 10 Hz in MAVlink inspector as shown in the image: https://drive.google.com/file/d/1jgpv6AhtgZqyEU2CQNIccZ3cIc2ib

[2021-05-10 18:08] davids5 commented on #132
The slowest device on the line sets the rate  If you have a scope or a logic analyser the best place to validate the clock is the SCL line.

[2021-05-10 19:02] ashwinlele commented on #132
Thanks, you are correct! The frequency is 100kHz on the oscilloscope. I have no other device connected to external i2c. Even after starting with px4flow start -X -f 400, the frequency is still 100kHz. How can I increase it?

Thanks!

[2021-05-11 15:48] edwinpha opened #133 "Strange local_position_ned and need for a "forced" reboot to work"
Hi there,

I am having problems using my PX4FLOW.

First of all, when I use only the PX4FLOW (without Pixhawk), the local_position_ned that I can see is really accurate (even if using sonar). So, when I attach it to a pixhawk with a TFMINI, I was expecting a similar performance. But I see a much bigger drift in the local_position_ned (the one that you can see from pixhawk).

Then, I realized that

[2021-05-13 15:45] sbaccam90 commented on #130
@akvavit01 and @RPFey  I think I solved it. The problem happens with the new versions of Python; I am using the 3.8.5 which comes with Ubuntu 20.04, [here more information](https://stackoverflow.com/questions/51700960/runtimeerror-generator-raised-stopiteration-every-time-i-try-to-run-app). Specifically, you need to handle the stopIteration exception version in **/PX4-Flow/src/lib/uavcan/libuavcan

[2021-09-13 05:32] rohitk1979 opened #134 "Live video view Totally Striped with VIDEO_ONLY = 0"
Hello. I have CUAV PX4Flow version 2.3 board:

![IMG-20210912-WA0006.jpeg](https://user-images.githubusercontent.com/90595271/133028745-2c69896a-b7bd-4132-8abf-374849e2be5c.jpeg)
The firmware is v1

Running QGroundControl, I am able to view the live video feed. However, it is totally jumbled up with horizontal stripes:

![Screenshot_2021-09-13-10-58-23-970_com.google.android.apps.photos.jpg](https

[2021-09-17 12:10] mike239x commented on #134
I'd assume something is wrong with image width/height, which would cause image wrapping and produce strips just like what you see. I can't tell exactly where the problem occurs though...

[2021-09-18 03:38] rohitk1979 commented on #134
Could you point me where in the code can i tinker to see if there any effect on this?
Or could it be a hardware fault? Do I need to replace a resistor, regulator etc.?

Thanks for your inputs.

[2021-10-06 03:56] rohitk1979 commented on #134
I tried every available firmware with this module with version 2.3 inscribed. Even tried to build from source.
I even contacted engineers at CUAV, who have me a firmware which I also tried but it did not work.

However, I purchased a new module with version 1.3 clearly marked, and it worked out of the box perfectly the first time- clearly showing the camera view.

How could i approach "repairing"